 .wrapper{
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    grid-gap: 3px;
    grid-template-rows: 550px 50px;
    grid-auto-flow: dense;
}

.menu{
    background-color:black;
    grid-column: 1/3;
    grid-row: auto;
    position: relative;
}
.content{
    background-color: green;
    grid-column: 3/-1;
    position: relative;
}
.footer{
    background-color: black;
    grid-column: 1 / -1;
} 
.small{
    width: 100%;
    height: 30%;
    object-fit: cover;
    }
    
    
.big{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text{
    position: absolute;
    text-align: center;
    color: white;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;

}
.text b{
    color:blue;
}

#display {
    /* position: absolute; */
    color: white;
    bottom: 65%;
    font-size: 18px; 
    width: 180px; 
    font-weight: bold;
     position: relative; 
    animation: mymove 2s infinite; 
    animation-timing-function: linear;
  }

  @keyframes mymove {
    from {left:400px;}
    to {left: 500px;}

  }
.name{
    background-color: blue;
    color: white;
    position: absolute;
    top: 25%;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
.icon{
    list-style: none;
    display: block;
}
.icon li{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    width: 100%;
}
.icon li a{
    color: white;
    text-decoration: none;
    width: 100%;
    margin-left: 50px;
    
}
.social{
    width: 100%;
}
.social li{
    width: 20%;
    display: inline-block;
    color: white;
    margin-top: 120px;

}
.social li a{
    color: white;
    margin-left: 30px;
}
.footer p{
    color: white;
    text-align: center;
}
body{
    background-color: grey;
}
.outterwapper{
    margin-top: 5px;
    margin-left: 20%;
    border: 1px solid green;
    background-color: white;
    width: 60%;
}
.bold{
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 0px;
    padding-left: 100px;

}
.address{
    padding-left: 100px;
}
.mobile{
    padding-left: 100px;
}
.email{
    margin-bottom: 50px;
    padding-left: 100px;
}
.blue{
    color: royalblue;
    font-size: 18px;
    font-weight: 200;
    border-bottom:3px solid black ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 80px;
}
.black{
    padding-left: 80px;

}
.info{
    padding-left: 80px;
    width: 100%;
    border: 1px solid brown;
}
.info span{
    
    border: 1px solid red ;
}
/* another ways to write d code up */



/* .wrapper{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    grid-gap: 3px;
    grid-template-rows: 550px 50px;
    grid-template-areas: 
    "m m c c c c c c c c c c"
    "f f f f f f f f f f f f"
    ;
    grid-auto-flow: dense;  
}

.menu{
background-color: red;
grid-area: m;
grid-column: span 2;
}
.content{
background-color: green;
grid-area: c;
}
.footer{
   background-color: black;
   grid-area: f;
}
.small{
grid-row:auto;
grid-column: span 2;
} */